In [1]:
pip install scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from scipy) (1.22.4)

In [5]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.22.4)

In [8]:
!pip install scikit-learn
import sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.22.4)

In [9]:
import pandas as pd
import numpy as np

dict = {'userID' : [1,2,3,4,5,6,7,8,9,10,11,12],
        'Name':['vaibhav','Prajwal','Aniket','Karthika','Komal','Chandni','Nakshatra','Sarthak','Gurpreet','Sahil','Snehalata','Golu'],
        'Age':[24,54,23,16,52,34,45,23,18,19,33,39],
        'Bio' :["Aspiring software engineer with a passion for technology and problem-solving. Completing a degree in computer science with a focus on machine learning and artificial intelligence. Determined to make a positive impact in the world by using technology to solve complex problems and improve people's lives.","Dedicated and driven business student with a strong interest in finance and entrepreneurship. Focused on developing the skills and knowledge necessary to succeed in a fast-paced, dynamic business environment. Aspiring to start my own company and make a lasting impact in the world of finance and innovation.","Im a student studying enviornmental science with focus on sustainability,Im passionate about saving this world from pollution.","I'm a 28-year-old physical therapist who loves to help people feel better. I have always been interested in the human body and how it works, which is what drew me to this profession. When I'm not working, I enjoy hiking and spending time outdoors. I also love to cook and experiment with new recipes in my free time.","I'm a 35-year-old personal trainer and fitness enthusiast. I've been passionate about health and fitness my whole life and have made it my mission to help others achieve their goals. I love working with people to help them build confidence, strength, and overall health. When I'm not in the gym, you can find me playing basketball or spending time with my family."," I'm a 26-year-old graphic designer who loves to create beautiful and functional designs. I have always been fascinated by colors, shapes, and patterns, which is what led me to pursue a career in graphic design. When I'm not designing, I enjoy traveling and exploring new cultures. I also love to read and write in my free time.","I'm a 42-year-old landscape architect who loves to create beautiful outdoor spaces. I have always been drawn to nature and the beauty of the outdoors, which is what inspired me to pursue a career in landscape architecture. When I'm not designing, I enjoy hiking, camping, and spending time with my family. I'm also an avid gardener and enjoy growing my own fruits and vegetables.","I'm a 31-year-old interior designer who loves to create beautiful and functional spaces. I have always been interested in design and how it can affect people's moods and emotions, which is what drew me to this profession. When I'm not designing, I enjoy painting and drawing. I also love to travel and experience new cultures."," I'm a 39-year-old chef who loves to create delicious and innovative dishes. I have always been passionate about food and the art of cooking, which is what led me to become a chef. When I'm not in the kitchen, I enjoy hiking and spending time outdoors. I'm also an avid reader and enjoy learning about new cuisines and cooking techniques.","I'm a 25-year-old kindergarten teacher who loves to work with young children. I have always been passionate about education and helping others, which is what led me to become a teacher. When I'm not teaching, I enjoy spending time with my family and friends. I also love to read and explore new places in my free time."," I'm a 33-year-old mechanical engineer who loves to design and build machines. I have always been interested in how things work and how to improve them, which is what drew me to this profession. When I'm not working, I enjoy playing chess and spending time with my family. I also love to travel and explore new places.","I'm a 27-year-old fashion designer who loves to create unique and stylish clothing. I have always been interested in fashion and how it can express individuality, which is what led me to become a designer. When I'm not designing, I enjoy dancing and practicing yoga. I'm also a foodie and enjoy trying new restaurants and cuisines."]}

bio_data= ["Product Manager with 5+ years of experience in the tech industry. Skilled in market research, product development, and project management. Passionate about delivering innovative solutions to solve complex problems.",
    "Software Engineer with a strong background in full-stack development and experience building scalable web applications. Adept in Python, React, and Node.js. Constantly seeking new challenges to improve my skills and expand my knowledge.",
    "Data Scientist with experience in machine learning, statistical analysis, and data visualization. Strong expertise in Python and SQL. Committed to using data-driven insights to drive business growth and improve decision-making.",
    'Marketing Manager with over 8 years of experience in digital marketing and branding. Skilled in developing and executing successful marketing campaigns, creating compelling content, and building brand awareness. Driven to deliver results and drive business success.',
    'Entrepreneur and business leader with a passion for innovation and a track record of success. 10+ years of experience building and scaling startups in the tech industry. Focused on creating value for customers and solving complex problems with simple solutions.',
    'Certified Nurse Practitioner with extensive experience in primary care and emergency medicine. Strong commitment to providing patient-centered care and improving health outcomes in underserved communities. Continuously seeking to expand my knowledge and skills through ongoing education and professional development.',
    'Renowned chef and restaurateur with over 25 years of experience in the culinary industry. Expertise in creating unique and memorable dining experiences, as well as developing and executing successful menu concepts. Passionate about using fresh, seasonal ingredients to create dishes that inspire and delight.',
    'Award-winning journalist with over a decade of experience covering a wide range of subjects, from breaking news to in-depth investigations. Skilled in uncovering the truth and telling important stories that make a difference. Committed to ethical and accurate reporting and constantly seeking new challenges and opportunities to grow as a journalist.',
    'Internationally acclaimed artist with a focus on abstract expressionism. 10+ years of experience exploring the boundaries of color, form, and texture through a variety of mediums. Committed to creating powerful and thought-provoking works that evoke emotion and challenge the viewer',"firefighter who loves to help people and save lives. I have always been drawn to the bravery and selflessness of firefighting, which is what led me to pursue this profession. When I'm not fighting fires, I enjoy playing sports and spending time with my family. I'm also an adrenaline junkie and enjoy skydiving and bungee jumping.","nurse who loves to care for patients and make a difference in their lives. I have always been passionate about helping others and making a positive impact, which is what drew me to become a nurse. When I'm not working, I enjoy reading and practicing meditation. I'm also a traveler and love exploring new cultures and trying new foods.""43-year-old veterinarian who loves to care for animals and help them live happy and healthy lives. I have always been an animal lover and have made it my life's work to care for them. When I'm not working, I enjoy hiking and spending time in nature. I'm also an avid photographer and enjoy capturing the beauty of the world around me.","dancer who loves to express myself through movement. I have always been fascinated by the art of dance and how it can convey emotions and tell stories, which is what led me to pursue this profession. When I'm not dancing, I enjoy practicing yoga and spending time in nature. I'm also a foodie and love trying new cuisines.","physical education teacher who loves to inspire students to lead active and healthy lives. I have always been passionate about sports and fitness, which is what led me to become a teacher. When I'm not teaching, I enjoy playing basketball and spending time with my family. I'm also a music lover and enjoy playing the guitar.","writer who loves to create stories and worlds. I have always been drawn to the power of words and the magic of storytelling, which is what led me to become a writer. When I'm not writing, I enjoy hiking and practicing photography. I'm also a traveler and love exploring new cultures.","artist who loves to create beautiful and thought-provoking works. I have always been fascinated by colors, shapes, and textures, which is what led me to pursue a career in art. When I'm not creating, I enjoy playing the piano and spending time with my family. I'm also a foodie and enjoy cooking and trying new restaurants.","social worker who loves to help people in need. I have always been passionate about social justice and making a positive impact, which is what led me to become a social worker. When I'm not working, I enjoy reading and practicing yoga. I'm also a traveler and enjoy exploring new cultures.","financial analyst who loves to help people manage their money and achieve their goals. I have always been interested in finance and economics, which is what drew me to this profession. When I'm not working, I enjoy playing golf and spending time with my family. I'm also a wine enthusiast and enjoy tasting new varietals.","environmental scientist who loves to protect the planet and its resources. I have always been passionate about sustainability and finding solutions to environmental problems, which is what led me to become a scientist. When I'm not working, I enjoy hiking and practicing photography. I'm also a traveler and love exploring new national parks.","chef who loves to create delicious and healthy dishes. I have always been passionate about food and nutrition, which is what led me to become a chef. When I'm not in the kitchen, I enjoy playing soccer and spending time with my family. I'm also a traveler and enjoy experiencing new cuisines and cooking techniques.","introvert who has always struggled with socializing, but I've been trying to push myself out of my comfort zone lately. I love the idea of meeting new people and hearing their stories, but it can be difficult for me to initiate conversations. In my free time, I enjoy reading and writing.","extrovert who loves meeting new people and having interesting conversations. I'm always on the lookout for new perspectives and ideas, and I find that talking to strangers is a great way to learn about the world. When I'm not chatting with people, I enjoy playing video games and watching movies.","traveler who loves exploring new places and meeting new people. I believe that strangers can often be some of the most interesting and insightful people you'll ever meet. When I'm not traveling, I enjoy reading and practicing yoga.","salesman who loves the art of persuasion and the power of human connection. I believe that everyone has a story to tell, and I enjoy meeting new people and learning about their lives. When I'm not selling, I enjoy hiking and playing guitar.","writer who loves to people-watch and eavesdrop on conversations. I find that everyone has a unique story to tell, and I love incorporating those experiences into my writing. When I'm not observing people, I enjoy practicing yoga and cooking.","musician who loves to connect with people through music. I believe that music is a universal language that can bring people together, and I enjoy playing and creating music with others. When I'm not making music, I enjoy reading and playing sports.","artist who loves to connect with people through my art. I believe that art is a powerful way to express emotions and connect with others, and I enjoy creating art that inspires and moves people. When I'm not creating, I enjoy hiking and practicing meditation.","traveler who loves to immerse myself in new cultures and connect with locals. I believe that travel is one of the best ways to learn about the world and yourself, and I enjoy talking to strangers to gain new perspectives. When I'm not traveling, I enjoy playing basketball and practicing photography.","journalist who loves to interview people and tell their stories. I believe that everyone has a story worth telling, and I enjoy connecting with strangers to uncover those stories. When I'm not reporting, I enjoy reading and practicing yoga.","entrepreneur who loves to network and build relationships. I believe that everyone has something valuable to offer, and I enjoy connecting with people to learn and grow. When I'm not working, I enjoy playing guitar and practicing martial arts.","language enthusiast who loves connecting with people from around the world to practice speaking different languages. I enjoy using chatting apps to connect with people from different countries and regions, and I find it rewarding to help others learn my native language, too. In my free time, I enjoy cooking, playing music, and exploring new places.","therapist who enjoys using chatting apps to provide support to people who need it. I find that chatting can be a great way to connect with people who may not have the time or resources to attend therapy in person. In my free time, I enjoy reading, practicing yoga, and spending time with my cats.","personal trainer who uses chatting apps to connect with clients and provide fitness tips and advice. I believe that health and wellness are important, and I enjoy helping people achieve their fitness goals through online coaching. When I'm not coaching, I enjoy hiking, cooking, and playing basketball.","entrepreneur who uses chatting apps to network and connect with other business owners. I find that chatting is a great way to exchange ideas and collaborate with others. In my free time, I enjoy reading, practicing meditation, and attending networking events.","gamer who uses chatting apps to connect with other gamers and discuss the latest gaming trends and news. I find that chatting is a great way to build relationships with other gamers and learn new strategies and tips. In my free time, I enjoy playing video games, watching anime, and practicing martial arts.","student who uses chatting apps to connect with other students and discuss academic topics. I find that chatting is a great way to exchange ideas and learn from others who may have different perspectives or experiences. In my free time, I enjoy reading, practicing photography, and hiking.","writer who uses chatting apps to connect with other writers and discuss the craft of writing. I find that chatting is a great way to connect with other writers who may be facing similar challenges or looking for inspiration. In my free time, I enjoy reading, hiking, and practicing yoga.","travel blogger who uses chatting apps to connect with other travelers and share travel tips and experiences. I find that chatting is a great way to connect with people who share my passion for travel and learn about new destinations. In my free time, I enjoy reading, cooking, and exploring new places.","salesman who uses chatting apps to connect with clients and discuss business opportunities. I find that chatting is a great way to build relationships with clients and stay on top of industry news and trends. In my free time, I enjoy playing guitar, hiking, and spending time with my family.","artist who uses chatting apps to connect with other artists and discuss the creative process. I find that chatting is a great way to connect with other"
]

In [33]:
df.to_csv('test.csv')

In [34]:
df = pd.DataFrame(dict)
df.head(12)

    userID       Name  Age                                                Bio
0        1    vaibhav   24  Aspiring software engineer with a passion for ...
1        2    Prajwal   54  Dedicated and driven business student with a s...
2        3     Aniket   23  Im a student studying enviornmental science wi...
3        4   Karthika   16  I'm a 28-year-old physical therapist who loves...
4        5      Komal   52  I'm a 35-year-old personal trainer and fitness...
5        6    Chandni   34   I'm a 26-year-old graphic designer who loves ...
6        7  Nakshatra   45  I'm a 42-year-old landscape architect who love...
7        8    Sarthak   23  I'm a 31-year-old interior designer who loves ...
8        9   Gurpreet   18   I'm a 39-year-old chef who loves to create de...
9       10      Sahil   19  I'm a 25-year-old kindergarten teacher who lov...
10      11  Snehalata   33   I'm a 33-year-old mechanical engineer who lov...
11      12       Golu   39  I'm a 27-year-old fashion designer who loves t...

In [14]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)

In [15]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
def user_with_bio(bio_data,user_bio):
    

    nltk.download('stopwords')
    nltk.download('punkt')

    stop_words = set(stopwords.words("english"))
    stemmer = PorterStemmer()

    def preprocess_document(document):
        # Convert to lowercase
        document = document.lower()

        # Remove punctuation and numbers
        document = re.sub(r'[^\w\s]|\d', '', document)

        # Tokenize the document into words
        words = word_tokenize(document)

        # Remove stop words
        words = [word for word in words if word not in stop_words]

        # Stem the words
        words = [stemmer.stem(word) for word in words]

        return words

#     document = "This is a sample document. It contains numbers and punctuation. 123! 456."
#     preprocessed_document = preprocess_document(document)

    # Preprocess the bios and user bio
    preprocessed_bios = [preprocess_document(bio) for bio in bio_data]
    preprocessed_user_bio = preprocess_document(user_bio)

    # Convert the preprocessed bios and user bio back to strings
    preprocessed_bios = [' '.join(bio) for bio in preprocessed_bios]
    preprocessed_user_bio = ' '.join(preprocessed_user_bio)

    # Use TfidfVectorizer to find the TF-IDF representation of the preprocessed bios and user bio
    vectorizer = TfidfVectorizer()
    tfidf_bios = vectorizer.fit_transform(preprocessed_bios)
    tfidf_user_bio = vectorizer.transform([preprocessed_user_bio])

    # Use cosine similarity to find the similarity between the user bio and the bios
    similarities = cosine_similarity(tfidf_user_bio, tfidf_bios)

    # Find the index of the 5 most similar bios
    top_5 = np.argsort(similarities[0])[-5:][::-1]

    # Print the 5 most similar bios
    return top_5


    #     print("Preprocessed Document:", preprocessed_document)

In [17]:
top_5_lst = []
for i in df['Bio']:
    top_5_lst.append(user_with_bio(bio_data,i))
df['top_5']  = top_5_lst
df.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,userID,Name,Age,Bio,top_5
0,1,vaibhav,24,Aspiring software engineer with a passion for ...,"[10, 1, 0, 4, 15]"
1,2,Prajwal,54,Dedicated and driven business student with a s...,"[4, 16, 1, 3, 5]"
2,3,Aniket,23,Im a student studying enviornmental science wi...,"[34, 12, 9, 8, 13]"
3,4,Karthika,16,I'm a 28-year-old physical therapist who loves...,"[16, 10, 14, 30, 9]"
4,5,Komal,52,I'm a 35-year-old personal trainer and fitness...,"[31, 16, 10, 12, 29]"

In [18]:
def jaccard_similarity(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    
    intersection = set1.intersection(set2)
    union = set1.union(set2)
    
    return len(intersection) / len(union)


# similarity = jaccard_similarity(user1_similar_bios, user2_similar_bios)

# print("Jaccard Similarity:", similarity)

In [19]:
top_5_recomend = []
a=0
for i in df['top_5']:
    a +=1
    b=0
    recommend_5_lst =[]
    for j in df['top_5']:
        b+=1
        if a != b:
            recommend_5_lst.append(jaccard_similarity(i,j))
    top_5_recomend.append(recommend_5_lst)
df['top_5_recommend'] = top_5_recomend

In [20]:
df['top_5_max_pct'] = df['top_5_recommend'].apply(lambda x: sorted(x, reverse=True)[:5])

In [21]:
df.head()

,userID,Name,Age,Bio,top_5,top_5_recommend,top_5_max_pct
0,1,vaibhav,24,Aspiring software engineer with a passion for ...,"[10, 1, 0, 4, 15]","[0.25, 0.0, 0.1111111111111111, 0.111111111111...","[0.25, 0.25, 0.25, 0.1111111111111111, 0.11111..."
1,2,Prajwal,54,Dedicated and driven business student with a s...,"[4, 16, 1, 3, 5]","[0.25, 0.0, 0.1111111111111111, 0.111111111111...","[0.25, 0.1111111111111111, 0.1111111111111111,..."
2,3,Aniket,23,Im a student studying enviornmental science wi...,"[34, 12, 9, 8, 13]","[0.0, 0.0, 0.1111111111111111, 0.1111111111111...","[0.25, 0.1111111111111111, 0.1111111111111111,..."
3,4,Karthika,16,I'm a 28-year-old physical therapist who loves...,"[16, 10, 14, 30, 9]","[0.1111111111111111, 0.1111111111111111, 0.111...","[0.42857142857142855, 0.42857142857142855, 0.4..."
4,5,Komal,52,I'm a 35-year-old personal trainer and fitness...,"[31, 16, 10, 12, 29]","[0.1111111111111111, 0.1111111111111111, 0.111...","[0.25, 0.25, 0.25, 0.25, 0.1111111111111111]"

In [22]:
split_func = lambda x:pd.Series(x)
df[['first','second','third','fourth','fifth']] = df['top_5'].apply(split_func)

In [23]:
df.head()

,userID,Name,Age,Bio,top_5,top_5_recommend,top_5_max_pct,first,second,third,fourth,fifth
0,1,vaibhav,24,Aspiring software engineer with a passion for ...,"[10, 1, 0, 4, 15]","[0.25, 0.0, 0.1111111111111111, 0.111111111111...","[0.25, 0.25, 0.25, 0.1111111111111111, 0.11111...",10,1,0,4,15
1,2,Prajwal,54,Dedicated and driven business student with a s...,"[4, 16, 1, 3, 5]","[0.25, 0.0, 0.1111111111111111, 0.111111111111...","[0.25, 0.1111111111111111, 0.1111111111111111,...",4,16,1,3,5
2,3,Aniket,23,Im a student studying enviornmental science wi...,"[34, 12, 9, 8, 13]","[0.0, 0.0, 0.1111111111111111, 0.1111111111111...","[0.25, 0.1111111111111111, 0.1111111111111111,...",34,12,9,8,13
3,4,Karthika,16,I'm a 28-year-old physical therapist who loves...,"[16, 10, 14, 30, 9]","[0.1111111111111111, 0.1111111111111111, 0.111...","[0.42857142857142855, 0.42857142857142855, 0.4...",16,10,14,30,9
4,5,Komal,52,I'm a 35-year-old personal trainer and fitness...,"[31, 16, 10, 12, 29]","[0.1111111111111111, 0.1111111111111111, 0.111...","[0.25, 0.25, 0.25, 0.25, 0.1111111111111111]",31,16,10,12,29

In [24]:
from sklearn.cluster import KMeans
from sklearn.neighbors import NearestNeighbors

In [25]:
# Select the columns you want to use for clustering
X = df[['first', 'second', 'third', 'fourth', 'fifth']]

# Create a KMeans object with the desired number of clusters
kmeans = KMeans(n_clusters=5)

# Fit the KMeans model to the data
kmeans.fit(X)

# Find the 5 nearest data points for each data point
nbrs = NearestNeighbors(n_neighbors=6).fit(X)
distances, indices = nbrs.kneighbors(X)
print(indices)
# Add the indices of the nearest data points to the original dataframe
# df['nearest_points'] = indices[:,1:]
# Add the indices of the nearest data points to the original dataframe

[[ 0  6  5  1  7  8]
 [ 1  6  5  0  8 11]
 [ 2  8  4  6  5  7]
 [ 3  9  8 11 10  6]
 [ 4  2  7  5 10  8]
 [ 5  6  8  7 11  9]
 [ 6  5  8  7  9 11]
 [ 7  5  6 11  8  9]
 [ 8  6  5  9 11  7]
 [ 9 11 10  5  6  8]
 [10  9 11  5  7  6]
 [11  9 10  5  6  8]]

In [26]:
df1 = pd.DataFrame({'nearest_points': []})
for i in indices:
    df1 = df1.append({'nearest_points': i[1:]}, ignore_index=True)

In [27]:
df.head()
df.shape

(12, 12)

In [28]:
df1.head()

      nearest_points
0    [6, 5, 1, 7, 8]
1   [6, 5, 0, 8, 11]
2    [8, 4, 6, 5, 7]
3  [9, 8, 11, 10, 6]
4   [2, 7, 5, 10, 8]

In [29]:
def get_data_from_indices(indices_list, data_df):
    return [data_df.iloc[i,0:2] for i in indices_list]

# Apply the function to each row in the dataframe containing lists of indices
df1['data_col'] = df1['nearest_points'].apply(lambda indices_list: get_data_from_indices(indices_list, df))

In [30]:
df1.head(12)

       nearest_points                                           data_col
0     [6, 5, 1, 7, 8]  [[7, Nakshatra], [6, Chandni], [2, Prajwal], [...
1    [6, 5, 0, 8, 11]  [[7, Nakshatra], [6, Chandni], [1, vaibhav], [...
2     [8, 4, 6, 5, 7]  [[9, Gurpreet], [5, Komal], [7, Nakshatra], [6...
3   [9, 8, 11, 10, 6]  [[10, Sahil], [9, Gurpreet], [12, Golu], [11, ...
4    [2, 7, 5, 10, 8]  [[3, Aniket], [8, Sarthak], [6, Chandni], [11,...
5    [6, 8, 7, 11, 9]  [[7, Nakshatra], [9, Gurpreet], [8, Sarthak], ...
6    [5, 8, 7, 9, 11]  [[6, Chandni], [9, Gurpreet], [8, Sarthak], [1...
7    [5, 6, 11, 8, 9]  [[6, Chandni], [7, Nakshatra], [12, Golu], [9,...
8    [6, 5, 9, 11, 7]  [[7, Nakshatra], [6, Chandni], [10, Sahil], [1...
9   [11, 10, 5, 6, 8]  [[12, Golu], [11, Snehalata], [6, Chandni], [7...
10   [9, 11, 5, 7, 6]  [[10, Sahil], [12, Golu], [6, Chandni], [8, Sa...
11   [9, 10, 5, 6, 8]  [[10, Sahil], [11, Snehalata], [6, Chandni], [...

In [31]:
df1['Name'] = (df['Name'])

In [32]:
df1

,nearest_points,data_col,Name
0,"[6, 5, 1, 7, 8]","[[7, Nakshatra], [6, Chandni], [2, Prajwal], [...",vaibhav
1,"[6, 5, 0, 8, 11]","[[7, Nakshatra], [6, Chandni], [1, vaibhav], [...",Prajwal
2,"[8, 4, 6, 5, 7]","[[9, Gurpreet], [5, Komal], [7, Nakshatra], [6...",Aniket
3,"[9, 8, 11, 10, 6]","[[10, Sahil], [9, Gurpreet], [12, Golu], [11, ...",Karthika
4,"[2, 7, 5, 10, 8]","[[3, Aniket], [8, Sarthak], [6, Chandni], [11,...",Komal
5,"[6, 8, 7, 11, 9]","[[7, Nakshatra], [9, Gurpreet], [8, Sarthak], ...",Chandni
6,"[5, 8, 7, 9, 11]","[[6, Chandni], [9, Gurpreet], [8, Sarthak], [1...",Nakshatra
7,"[5, 6, 11, 8, 9]","[[6, Chandni], [7, Nakshatra], [12, Golu], [9,...",Sarthak
8,"[6, 5, 9, 11, 7]","[[7, Nakshatra], [6, Chandni], [10, Sahil], [1...",Gurpreet
9,"[11, 10, 5, 6, 8]","[[12, Golu], [11, Snehalata], [6, Chandni], [7...",Sahil
10,"[9, 11, 5, 7, 6]","[[10, Sahil], [12, Golu], [6, Chandni], [8, Sa...",Snehalata
11,"[9, 10, 5, 6, 8]","[[10, Sahil], [11, Snehalata], [6, Chandni], [...",Golu